<div class="column-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        record_voice_over
      </igx-icon>
      <h5 class="h5">
        Vessel
      </h5>
    </div>
    <div class="row-layout group_3">
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value" placeholder="Copy From Previous Deal" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value1" placeholder="IMO" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value2" placeholder="Vessel" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value3" placeholder="Customer" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value4" placeholder="Pay Terms" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value5" placeholder="Min, Margins" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value6" placeholder="Agent" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value7" placeholder="Brocker" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" [(ngModel)]="value8" placeholder="buying Company" igxInput />
      </igx-input-group>
      <div class="row-layout group_4">
        <igx-checkbox labelPosition="after" class="checkbox">
          NO IMO
        </igx-checkbox>
        <igx-checkbox labelPosition="after" class="checkbox">
          Unknown Vessel
        </igx-checkbox>
        <igx-checkbox labelPosition="after" class="checkbox">
          Assing Supply Side to me
        </igx-checkbox>
      </div>
    </div>
  </div>
</div>
