<div class="column-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        record_voice_over
      </igx-icon>
      <h5 class="h5">
        Vessel
      </h5>
    </div>
    <div class="row-layout group_3">
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Copy From Previous Deal" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="IMO" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Vessel" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Customer" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Pay Terms" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Min, Margins" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Agent" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="Brocker" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input">
        <input type="text" placeholder="buying Company" igxInput />
      </igx-input-group>
      <div class="row-layout group_4">
        <igx-checkbox labelPosition="after" class="checkbox">
          NO IMO
        </igx-checkbox>
        <igx-checkbox labelPosition="after" class="checkbox">
          Unknown Vessel
        </igx-checkbox>
        <igx-checkbox labelPosition="after" class="checkbox">
          Assing Supply Side to me
        </igx-checkbox>
      </div>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_5">
      <div class="row-layout group_6">
        <igx-icon class="icon">
          location_on
        </igx-icon>
        <h5 class="h5">
          Port
        </h5>
      </div>
      <button igxButton="raised" igxRipple class="button">
        <igx-icon>
          add
        </igx-icon>
        <span>Port</span>
      </button>
    </div>
    <div class="row-layout group_3">
      <igx-select type="box" placeholder="Area" class="user-input">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
      </igx-select>
      <igx-select type="box" placeholder="Type" class="user-input">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
      </igx-select>
      <igx-select type="box" placeholder="Supplier Pay terms" class="user-input">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
      </igx-select>
      <igx-select type="box" placeholder="Port" class="user-input">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
      </igx-select>
      <igx-date-picker type="box" mode="dialog" class="user-input">
        <label igxLabel>ETA</label>
      </igx-date-picker>
      <igx-date-picker type="box" mode="dialog" class="user-input">
        <label igxLabel>ETD</label>
      </igx-date-picker>
    </div>
  </div>
  <div class="column-layout group_7">
    <div class="row-layout group_8">
      <div class="row-layout group_9">
        <igx-icon class="icon">
          poll
        </igx-icon>
        <h5 class="h5">
          Product
        </h5>
      </div>
      <div class="row-layout group_6">
        <button igxButton="raised" igxRipple class="button">
          <igx-icon>
            add
          </igx-icon>
          <span>Product</span>
        </button>
      </div>
    </div>
    <div class="row-layout group_10">
      <igx-select type="border" placeholder="Fuel Grade" class="user-input_1">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
      </igx-select>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Specification" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Min. Qty" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Max Qty" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Est. Sell Price" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Unit" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="Ccy" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="user-input_1">
        <input type="text" placeholder="UOM" igxInput />
      </igx-input-group>
    </div>
  </div>
  <div class="column-layout group_11">
    <div class="row-layout group_12">
      <div class="column-layout group_13">
        <div class="row-layout group_8">
          <div class="row-layout group_9">
            <igx-icon class="icon">
              poll
            </igx-icon>
            <h5 class="h5">
              Product
            </h5>
          </div>
        </div>
        <div class="row-layout group_11"></div>
      </div>
      <div class="column-layout group_14">
        <div class="row-layout group_8">
          <div class="row-layout group_9">
            <igx-icon class="icon">
              poll
            </igx-icon>
            <h5 class="h5">
              Product
            </h5>
          </div>
        </div>
        <div class="row-layout group_11"></div>
      </div>
    </div>
  </div>
</div>
