<igx-navbar class="navigation-bar-mobile">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple [igxToggleAction]="defaultNavigationDrawer">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
  <igx-navbar-title>
    App Name
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="1024" width="320px" #defaultNavigationDrawer class="default-navigation-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon class="icon">
          home
        </igx-icon>
        <span>View 1</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view2">
        <igx-icon class="icon">
          dns
        </igx-icon>
        <span>View 2</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view3">
        <igx-icon class="icon">
          dashboard
        </igx-icon>
        <span>View 3</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
