<igx-navbar class="navigation-bar-mobile">
  <igx-navbar-action>
    <button igxIconButton="flat" igxRipple [igxToggleAction]="defaultNavigationDrawer">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      App Name
    </h6>
  </igx-navbar-title>
  <button igxIconButton="flat" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxIconButton="flat" igxRipple>
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxIconButton="flat" igxRipple>
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [isOpen]="true" [pin]="true" width="320px" #defaultNavigationDrawer class="default-navigation-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple [routerLink]="['/view-1']">
        <igx-icon class="icon">
          home
        </igx-icon>
        <span>View 1</span>
      </div>
      <div igxDrawerItem igxRipple [routerLink]="['/view-2']">
        <igx-icon class="icon">
          dns
        </igx-icon>
        <span>View 2</span>
      </div>
      <div igxDrawerItem igxRipple [routerLink]="['/view-3']">
        <igx-icon class="icon">
          dashboard
        </igx-icon>
        <span>View 3</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
